.auth {
  .cols-wrapper {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .col-illustration {
      min-height: 100vh;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .col-login {
      min-height: 100vh;
      display: flex;
      align-items: center;
      box-shadow: -20px 0px 30px 0px rgb(0 0 0 / 3%);
      padding: 0 4rem;
      @media screen and (max-width: 768px) {
        box-shadow: none;
        padding: 0;
      }
      .form {
        h3 {
          color: $color2;
          font-family: Avenir Next;
          font-size: 40px;
          font-weight: 700;
          line-height: 55px;
          letter-spacing: -0.04em;
          text-align: left;
          margin: 0;
        }
        p {
          font-family: Avenir Next;
          font-size: 20px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
        }
        form {
          margin-top: 3rem;
          input {
            border: 2px solid rgba(84, 95, 125, 0.15);
            background: #fff;
            box-shadow: none;
            border-width: 2px;
            border-radius: 5px;
          }
          .input-group-password {
            position: relative;
            .showHide {
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
              right: 0;
              font-family: "Avenir Next";
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #39cdcc;
              background-color: #fff;
              cursor: pointer;
            }
          }
          .forgot-password {
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Avenir Next";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #39cdcc;
          }
          button {
            background: #39cdcc;
            border-radius: 8px;
            border: none;
            margin-top: 2rem;
            text-transform: uppercase;
            font-family: "Avenir Next";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #ffffff;
            padding: 15px 0;
          }
        }
      }
    }
  }
}
